body{
    background-image: url('../fundo\ do\ site.jpeg');
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10;
    padding: 0;
}